<div style="height:100%;overflow-y:scroll;">
    <ul class="list-group" ng-repeat="distro in selectedVersion.distros">
        <li class="list-group-item pkg-distro-list-item">
            <table style="width:100%;color:#888">
                <tr>
                    <td data-toggle="collapse" data-target="[data-distro-name={{distro.name|dotsToUnderscores}}]" style="width:40px;border-right:1px solid #ddd">
                        <img ng-src="imgs/{{distro.name}}.png" width="28" height="28" style="opacity:0.9">
                    </td>
                    <td data-toggle="collapse" data-target="[data-distro-name={{distro.name|dotsToUnderscores}}]" style="padding-left:15px;">
                        <div><b>{{distro.name|distroLabel}}</b></div>
                    </td>
                    <td class="latest-pkg-dl-section">
                        <a href="/api/repo/{{repository}}/{{username}}/{{project}}/{{version}}/{{distro.name}}/{{distro.packages[distro.packages.length-1].name}}" class="pkg-download-btn" title="Download Latest" style="font-size:12px;">
                            <span class="latest-pkg">{{distro.packages[distro.packages.length-1].name}}</span>
                            <span class="glyphicon glyphicon-cloud-download"></span>
                        </a>
                    </td>
                </tr>
            </table>
            <div class="collapse" data-distro-name="{{distro.name|dotsToUnderscores}}">
                <ul style="margin-top:10px;padding-left:0">
                    <a ng-repeat="package in distro.packages|orderBy:'mtime':true" href="/api/repo/{{repository}}/{{username}}/{{project}}/{{version}}/{{distro.name}}/{{package.name}}" class="pkg-download-btn">
                        <div style="border-top:1px solid #eee;padding-left: 5px;">
                            <div style="display:inline-block;padding-right:10px" class="text-center">
                                <img ng-src="imgs/package.png" width="18" height="18" style="position: relative;top: 50%;transform: translateY(-50%);">
                            </div>
                            <div style="display:inline-block;font-size:13px;padding-top:5px;padding-bottom:5px;padding-left:5px">
                                <div>{{package.name}}</div>
                                <div class="small" style="padding-top:1px;">
                                    <span class="small">Created At: {{package.mtime*1000|date:'medium'}} ( {{package.size|valueUnit}} )</span>
                                </div>
                            </div>
                            <!--<div style="font-size:11px;">{{package.size|valueUnit}}</div>-->
                        </div>
                    </a>
                </ul>
            </div>
        </li>
    </ul>
</div>