<div class="row" style="margin:0;padding:10px 0;border-bottom:1px solid #ddd">
    <div class="col-md-10" style="padding:0">
        <h4 class="breadcrumb-path">{{repository}} / <a href="#/{{repository}}/{{username}}">{{username}}</a> / {{project}} / 
            <span class="dropdown">
                <a id="version-dropdown" href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                    <span>{{selectedVersion.version}} <span class="caret"></span></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="version-dropdown" role="menu">
                    <li ng-repeat="projVersion in projectVersions" role="presentation">
                        <a role="menuitem" tabindex="-1" href="#/{{repository}}/{{username}}/{{project}}/{{projVersion.version}}">{{projVersion.version}}</a>
                    </li>    
                </ul>
            </span>
        </h4>
    </div>
    <div class="col-md-2 text-right" style="padding:0">
        <h4 class="build-btn-dark"><request-dialog-button ng-model="project"></request-dialog-button></h4>
    </div>
</div>
<div class="row" style="margin:0">
    <div class="col-md-5" style="padding-left:0">
        <h4 class="text-right" style="padding:10px 0">Packages</h4>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="distro in selectedVersion.distros">
                <table style="width:100%;color:#888">
                    <tr>
                        <td data-toggle="collapse" data-target="[data-distro-name={{distro.name|dotsToUnderscores}}]">
                            <img ng-src="imgs/{{distro.name}}.png" width="32" height="32" style="opacity:0.7">
                        </td>
                        <td data-toggle="collapse" data-target="[data-distro-name={{distro.name|dotsToUnderscores}}]">
                            <div><b>{{distro.name|distroLabel}}</b></div>
                        </td>
                        <td style="text-align:right">
                            <a href="/api/repo/{{repository}}/{{username}}/{{project}}/{{version}}/{{distro.name}}/{{distro.packages[distro.packages.length-1].name}}">
                                <div style="font-size:12px;display:inline-block">{{distro.packages[distro.packages.length-1].name}}</div><br/>
                                <div style="padding-top:3px;font-size:10px;display:inline-block">
                                    {{distro.packages[distro.packages.length-1].size|valueUnit}}
                                </div>
                            </a>
                        </td>
                        <td style="text-align:right">
                            <a href="/api/repo/{{repository}}/{{username}}/{{project}}/{{version}}/{{distro.name}}/{{distro.packages[distro.packages.length-1].name}}">
                                <div><span class="glyphicon glyphicon-download"></span></div>
                            </a>
                        </td>
                    </tr>
                </table>
                <div class="collapse" data-distro-name="{{distro.name|dotsToUnderscores}}">
                    <ul style="margin-top:10px;padding-left:0">
                        <a ng-repeat="package in distro.packages|orderBy:'mtime':true" href="/api/repo/{{repository}}/{{username}}/{{project}}/{{version}}/{{distro.name}}/{{package.name}}">
                            <div style="padding-top:5px;padding-bottom:5px;border-top:1px solid #eee;padding-left:8px">
                                <div><img ng-src="imgs/package.png" width="16" height="16"> {{package.name}}</div>
                                <div class="small" style="padding-top:1px;">
                                    <span class="small"> {{package.mtime*1000|date:'medium'}}</span>
                                    <span class="small pull-right">{{package.size|valueUnit}}</span>
                                </div>
                            </div>
                        </a>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-md-7" style="border-left:1px solid #eee;padding-right:0">
        <ng-include ng-controller="historyController" src="historyHtml"></ng-include> 
    </div>
</div>
<package-build username="username" repository="repositoryDetails.url" version="{{version}}"></package-build>