<a class="oauth" ng-click="login()">
  <!--
  <button class="btn btn-default btn-sm logged-out" ng-show="show=='logged-out'" ng-click="login()" >{{text}}</button>
  <button class="btn btn-default btn-sm logged-in"  ng-show="show=='logged-in'"  ng-click="logout()">Logout {{profile.email}}</button>
  <button class="btn btn-default btn-sm denied"     ng-show="show=='denied'"     ng-click="login()">Access denied. Try again.</button>
  -->
    <div>
        <img ng-src="{{iconPath}}" width="20" height="20">
        <span style="padding-left:10px">{{text}}</span>
    </div>
</a>
