<div id="page-header">
  <div class="row" style="margin:0;padding:0">
    <div class="col-md-10" style="padding:0">
      <h5>ipkg</h5>
    </div>
    <div class="col-md-2 text-right" style="padding:0">
      <span 
        site="https://github.com/login"
        client-id="b3eb584cd365c62d10cc"
        redirect-uri="http://localhost:9000"
        profile-uri="https://github.com/{{username}}"
        scope="public" oauth>
      </span>
      <a href="javascript:void(0)" ng-click="logOut()" id="logout-btn">
        <span style="padding-left:10px" class="glyphicon glyphicon-log-out"></span>
      </a>
    </div>
  </div>
</div>