<html lang="en">
  <head>
	  <meta name="viewport" content="width=device-width, initial-scale=1">

	  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	  
	  <link rel="stylesheet" type="text/css" href="css/style.css">

	  <script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.min.js"></script>
	  <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

	  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.min.js"></script>
	  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular-route.min.js"></script>
	  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular-resource.min.js"></script>

	  <script type="text/javascript" src="libs/yaml.js"></script>
	  <script type="text/javascript" src="libs/ngStorage.min.js"></script>

	  <script type="text/javascript" src="app/login/oauth/oauth-ng.js"></script>

	  <script type="text/javascript" src="app/app.js"></script>
	  <script type="text/javascript" src="app/directives.js"></script>
	  <script type="text/javascript" src="app/controllers.js"></script>
	  <script type="text/javascript" src="app/services.js"></script>

	  <script type="text/javascript" src="app/login/Login.js"></script>
	  <script type="text/javascript" src="app/user/User.js"></script>
	  <script type="text/javascript" src="app/project/Project.js"></script>
	  <script type="text/javascript" src="app/logviewer/LogViewer.js"></script>
	  <script type="text/javascript" src="app/history/History.js"></script>
	  <script type="text/javascript" src="app/builder/Builder.js"></script>
	  <script type="text/javascript" src="app/repos/GithubRepo.js"></script>
	  <script type="text/javascript" src="app/repos/GitlabRepo.js"></script>
	  <script type="text/javascript" src="app/configbuilder/ConfigBuilder.js"></script>

  </head>
  <body>
	  <div id="stage" ng-controller="defaultController">
		  <div id="page-header">
			<div class="row" style="margin:0;padding:0">
				<div class="col-md-8" style="padding:3px 0">
					<h4>
						<a href="#/" id="home-btn">
							<span style="padding-right:10px;">ipkg.io</span>
						</a>
						<a href="https://docs.ipkg.io" style="padding:0 10px;">
							<span style="padding:0 10px;">docs</span>
						</a>
					</h4>
				</div>
				<div class="col-md-4 text-right" style="padding:0">
					<h4>
						<a ng-if="isGuest" href="javascript:void(0)" ng-click="logout()" id="logout-btn" title="Login">
							<span style="padding-left:10px;" class="glyphicon glyphicon-user"></span>
						</a>
						<a ng-if="!isGuest" href="#/{{repository}}/{{username}}" id="user-home-btn">
							<span style="padding-left:10px;padding-right:10px">{{username}}</span>
						</a>
						<span class="dropdown" ng-if="!isGuest">
						  <span class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
						  	<img ng-if="userIcon&&userIcon!=''" ng-src="{{userIcon}}" width="26" height="26" style="border-radius:14px">
						  </span>
						  <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1" style="padding:none;margin-top:none;background:none;box-shadow:none;border:none">
						  	<li class="text-right" style="padding-right:5px;min-height:0;line-height:0.8;">
						  		<svg width="20" height="10" fill="#ddd">
						  			<polygon points="0,10 20,10 10,0"></polygon>
						  		</svg>
						  	</li>
						    <li role="presentation" style="background:#ddd;padding:10px;border-radius:2px;box-shadow: 0 10px 6px -6px rgba(0,0,0,0.2) !important;cursor:pointer">
						    	<div ng-click="logout()" style="color:#666">
						    		<span class="glyphicon glyphicon-user" style="color:#666!important"></span><span style="padding:0 10px">Logout</span>
						    	</div>
						    </li>
						  </ul>
						</span>		
					</h4>
			  	</div>
			</div>
		  </div>
		  <div style="overflow-y:scroll">
			<div class="ng-view-content" ng-view></div>
		  </div>
		  <div style="padding:15px"></div>
	  </div>
  </body>
</html>