<div id="config-editor">
    <div style="padding-top:10px;padding-bottom:15px;padding-right:5px">
        <span><b>Distributions</b></span>
        <span ng-click="addDistribution()" class="pull-right glyphicon glyphicon-plus"></span>
    </div>
    <div class="list-group">
        <div ng-repeat="distro in distributions" class="list-group-item distro-options">
            <div class="input-group input-group-sm">
                <span class="input-group-addon">name</span>
                <select ng-model="distro.name" ng-options="d.name as d.label for d in support.distros"></select>
                <span class="input-group-addon remove-distro-btn" ng-click="distributions.splice($index, 1)">
                    <span class="glyphicon glyphicon-remove"></span>
                </span>
            </div>
            <div class="input-group input-group-sm">
                <span class="input-group-addon">release</span>
                <select ng-model="distro.release" ng-options="r as r for r in centosReleases"></select>
            </div>
            <div title="Dependencies needed for the build">
                <div>build_deps</div>
                <textarea class="form-control line-input" ng-model="distro.build_deps"></textarea>
            </div>
            <div title="Dependencies needed to install the package.">
                <div>deps</div>
                <textarea class="form-control line-input" ng-model="distro.deps"></textarea>
            </div>
            <div>
                <div>build_cmd</div>
                <textarea class="form-control line-input" ng-model="distro.build_cmd"></textarea>
            </div>
            <div>
                <div>pre_install</div>
                <textarea class="form-control line-input" ng-model="distro.pre_install"></textarea>
            </div>
            <div>
                <div>post_install</div>
                <textarea class="form-control line-input" ng-model="distro.post_install"></textarea>
            </div>
            <div>
                <div>pre_uninstall</div>
                <textarea class="form-control line-input" ng-model="distro.pre_uninstall"></textarea>
            </div>
            <div>
                <div>post_uninstall</div>
                <textarea class="form-control line-input" ng-model="distro.post_uninstall"></textarea>
            </div>
        </div>
    </div>
</div>
