{
    "port": 6565,
    "repository": "/opt/pkgwrap/data/repository",
    "data_dir": "/Users/abs/workbench/GoLang/src/github.com/naveabe/pkgwrap/data",
    "endpoints": {
        "gitlab": "/gitlab",
        "github": "",
        "builder": "/api/builder"
    },
    "builder": {
        "image_prefix": "buildsys-",
        "mounts": {
            "/vagrant/data/bin":"/opt/pkgwrap/bin"
        },
        "repo_mount": {
            "src_base": "/vagrant/data/repository",
            "mount_point": "/opt/pkgwrap/repo"
        }
    },
    "job_tracker": {
        "enabled": false,
        "datastore": {
            "host": "localhost",
            "port": 9200,
            "index": "pkgwrap",
            "mapping_file": "/etc/pkgwrap/ess_mapping.json"
        }
    }
}