{
    "port": 6565,
    "repository": "/opt/pkgwrap/data/repository",
    "templates": "/opt/pkgwrap/data/templates",
    "imagefiles": "/opt/pkgwrap/data/imagefiles",
    "endpoints": {
        "gitlab": "/gitlab",
        "github": "",
        "builder": "/api/builder"
    },
    "builder": {
        "image_prefix": "buildsys-",
        "mount_points": {
            "bin": "/opt/pkgwrap/data/bin:/opt/pkgwrap/bin",
            "repo": "/opt/pkgwrap/data/repository:/opt/pkgwrap/repo"
        }
    }
}