{
    "port": 6565,
    "repository": "/opt/pkgwrap/data/repository",
    "data_dir": "/opt/pkgwrap/data",
    "endpoints": {
        "gitlab" : "/webhook/gitlab",
        "github" : "/webhook/github",
        "builder": "/api/builder",
        "repo"   : "/api/repo",
        "jobs"   : "/api/jobs"
    },
    "builder": {
        "image_prefix": "buildsys-",
        "mounts": {
            "/opt/pkgwrap/data/bin":"/opt/pkgwrap/bin"
        },
        "repo_mount": {
            "src_base": "/opt/pkgwrap/data/repository",
            "mount_point": "/opt/pkgwrap/repo"
        }
    },
    "tracker": {
        "enabled": false,
        "datastore": {
            "host": "localhost",
            "port": 9200,
            "index": "pkgwrap",
            "mapping_file": "/etc/pkgwrap/ess_mapping.json"
        }
    },
    "webroot": ""
}