<a href="javascript:void(0)" ng-click="toggleLog()" class="log-toggler">
    <div>
        <div style="display:inline-block;padding-right:15px;padding-left:15px">
            <img ng-src="imgs/{{distro.name}}-{{distro.release}}.png" width="16" height="16" style="position: relative;top: 50%;transform: translateY(-50%);">
        </div>
        <div style="display:inline-block">
            <div><b>{{distro.name|toTitleCase}} {{distro.release}}</b></div>
            <div class="small" style="color:#bbb">{{distro.id}}</div>
        </div>
        <div style="display:inline-block;position:absolute;right:10px">
            <!--<div class="small" style="padding-top:3px;color:#999">-->
                <div><span class="badge {{state.status}}">{{state.status}}</span></div>
                <div><span class="small" ng-if="state.Running">Started At: {{state.StartedAt}}</span></div>
                <div style="padding-top:5px" class="small">
                    <span class="small" ng-if="!state.Running">{{state|timeDelta}}</span>
                </div>
            <!--</div>-->
        </div>
    </div>
</a>
<div class="collapse" data-log-collapse="{{distro.id}}">
    <div style="margin-top:10px;">
        <pre class="log-content">{{logcontent}}</pre>
    </div>
</div>