ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    padding-left: 10px;
}
#stage {
	style="border: 1px solid #ddd;
	overflow-x:hidden;
	transition: all 0.35s ease;
}
#stage,
#stage .table {
	color: #888;
	font-size: 14px;
}
#stage a {
	text-decoration: none;
}

.oauth,
.list-group-item[ng-switch='repo.oauth']>a,
.list-group-item[ng-switch='repo.oauth'] {
	color: #555;
	cursor: pointer;
}
.org-btn:hover,
.oauth:hover,
.list-group-item[ng-switch='repo.oauth']:hover>a,
.list-group-item[ng-switch='repo.oauth']:hover {
	color: #428bca;
}

table#login-window-container {
	width: 100%;
	height: 100%;
}
#login-window,
#login-window-body .input-group>.form-control,
#login-window .btn.btn-default {
	color: #666;
}
#login-window {
	width: 300px;
}

#login-window-body .input-group>.input-group-addon {
	background: none;
	color: #bbb;
}
#login-window-body .input-group>.form-control {
	border-left: none;
	box-shadow: none;
}
#login-window-body .input-group>.form-control:focus {
	border-color: #ccc;
}
#login-window-footer {
	padding-top: 10px;
	padding-bottom: 10px;
}

.log-toggler {
	color: #888;
	font-size: 13px;
}

.org-btn-btn {
	-webkit-font-smoothing: antialiased;
	background: none;
	padding: 20px 10px 20px 5px;
	border:none;
	border-bottom: 5px solid transparent;
	margin: 0 5px;
	outline: none;
}
.org-btn {
	padding: 10px 0;
	border-bottom: 5px solid transparent;
}

.org-btn-btn:active,
.org-btn-btn:focus,
.org-btn:hover>.org-btn-btn {
	color: #555;
	border-bottom: 5px solid #555; 
}

.org-btn:hover>.org-btn-btn.active,
.org-btn-btn.active {
	border-bottom: 5px solid #428bca; 
	color: #555;
}

.latest-pkg-dl-section {
	text-align:right;
	opacity: 0.5;
}
.latest-pkg-dl-section:hover {
	opacity: 1;
}
.latest-pkg-dl-section:hover .latest-pkg {
	opacity: 1;
}
.latest-pkg {
	padding-right:5px;
	transition: all 0.35s ease;
	opacity: 0;
}

.list-group-item.pkg-distro-list-item,
.org-btn {
	color: #888;
}
#page-header h4 a,
.pkg-download-btn,
#user-home-btn,
#home-btn,
#logout-btn > span.glyphicon.glyphicon-user,
#logout-btn > span.glyphicon.glyphicon-log-out,
#logout-btn {
	color: #888 !important;
}


#page-header h4 a:hover,
.pkg-download-btn:hover,
#user-home-btn:hover,
#home-btn:hover,
#logout-btn:hover > span.glyphicon,
#logout-btn:hover {
	color: #428bca !important;
}

.view-defaults {
	width: 94%;
	margin-left: auto;
	margin-right: auto;
}

#page-header {
	padding: 10px 0px;
	margin: 0 20px;
	border-bottom: 1px solid #eee;
	background: none;
}

#page-header,
#page-header span.glyphicon {
	color: #ddd !important;
}
/*
.ng-view-content {
	margin-left: 20px;
	margin-right: 0px;
}
*/
.code-block {
	font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
	color: #428bca;
	padding: 10px;
	border-radius: 3px;
	border: 1px solid #ccc;
}
.code-block.details {
	width:100%;
	height:100%;
	border-left: none;
	border-radius: 0 3px 3px 0;
}

a.succeeded {
	color: #76A646;
}
a.failed {
	color: #D94A56;
}
a.started {
	color: #377BA6;
}

.badge {
	-webkit-font-smoothing: antialiased;
}
.badge.succeeded,
.badge.failed,
.badge.running,
.badge.started {
	font-size: 11px;
	line-height: 1.1;
	/*font-weight: 400;*/
}

.badge.succeeded {
	background: #76A646;
}
.badge.failed {
	background: #D94A56;
}
.badge.running,
.badge.started {
	background: #377BA6;
}

pre.log-content {
	font-size: 11px;
	max-height: 500px;
	overflow-y: scroll;
	margin: 0;
	border-radius: 0 0 2px 2px;
	border: none;
	background:#444;
	color: #eee; 
}
.distro-job {
	padding:10px 0;
	border-top:1px solid #eee;
}
/*
.distro-job:hover {
	background-color: #777;
}*/
.distro-job:hover .log-toggler {
	color: #428bca !important;
}

.refresh-btn {
	transition:all 0.25s ease;
	color: #ccc;
	cursor: pointer;
}

a.circle-btn,
button.circle-btn {
	height:30px;
	width: 30px;
	background:none;
	outline: none;
}
a.circle-btn .glyphicon,
button.circle-btn .glyphicon {
	font-size: 12px;
	position: relative;
	left:-1px;
}

.circle-btn,
.circle-btn .glyphicon {
	color: #555;
}
.circle-btn {
	transition:all 0.25s ease;
	padding:8px 10px;
	border:1px solid #555;
	border-radius:30px;
	opacity: 0.5;
}
.circle-btn:active,
.circle-btn:focus,
.circle-btn:hover {
 	opacity: 1;
}

.build-btn-dark .glyphicon:hover,
.refresh-btn:hover,
.build-btn-dark .build-btn:hover,
.build-btn:hover {
	color: #428bca;
}

.build-btn-dark .glyphicon,
.build-btn-dark .build-btn {
	color: #505050;
}
.project-pkgs:hover {
	color: #428bca;
}
.list-group-item.pkg-distro-list-item.project-pkgs.repo-exists {
	font-weight: bold;
	color: #428bca;
}

.list-group-item.pkg-distro-list-item {
	border-radius: 3px;
	-webkit-font-smoothing: antialiased;
}

.list-group-item.pkg-distro-list-item.project-pkgs {
	border-radius: 0px;
	border-color: #ddd;
	border-right: 1px solid transparent;
	font-weight: bold;
}
.list-group-item.pkg-distro-list-item.project-pkgs:hover {
	background: none;
	border-right: 1px solid #ddd;
}

.list-group-item.pkg-distro-list-item.project-pkgs,
.list-group-item.build-history-item {
	border-left: 2px solid transparent;
}
.list-group-item.pkg-distro-list-item.project-pkgs:hover,
.list-group-item.build-history-item:hover {
	border-left: 2px solid #428bca;
}

.pkg-distro-list-item,
.build-history-item {
	border-color: #ccc;
}

.build-history-item {
	/*transition: all 0.35s ease;*/
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	border-right: 1px solid transparent;
}

.build-history-item:last-child,
.build-history-item:first-child {
	border-radius: 0;
}
.list-group-item.build-history-item {
	background: none;
}
.build-history-item:hover {
	border-right: 1px solid #ccc;
}
.build-history-item:hover .log-toggler {
	color: #707070;
}
.build-history-item:hover > .history-item-header {
	color: #606060;
}

.history-item-header {
	padding-left: 15px;
	padding-bottom: 10px;
	padding-right: 15px;
}
.remove-distro-btn:hover {
	color: #428bca;
}
.form-control.line-input {
	border-radius: 2px;
	padding: 5px;
	font-size: 13px;
}
#config-editor {
	transition: all 0.35s ease;
	background: #fff;
}

.pkgwrap-config {
	padding: 10px;
	border-radius:2px;
	border: 1px solid #ddd;
	font-size: 13px;
	font-family: Menlo,Monaco,Consolas,"Courier New",monospace
}
.yaml-list {
	white-space: pre;
}
.yaml-list-cont.distro-hdr {
	color:#609000;
}
.pkgwrap-config .config-hdr,
.yaml-list.build-step {
	color: #505050;
}
.yaml-list.list {
	color: #428bca;
}
.yaml-list-cont {
	padding: 2px 0;
}
.yaml-list.kvpair {
	color: #FF9754
}
.package-options .input-group>.input-group-addon,
.distro-options .input-group>.input-group-addon {
	background: none;
	font-weight: bold;
}
.package-options .input-group,
.distro-options .input-group {
	margin-bottom: 3px;
}
.package-options .input-group:last-child,
.distro-options .input-group:last-child {
	margin-bottom: 0;
}
.distro-options .input-group>select {
	appearance:none;
	-webkit-appearance:none;
	-moz-appearance:none;
	height: 30px;
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 0 3px 3px 0;
	width: 100%;
	border-color: #ccc;
	color: #555; 
	background: none;
}

.dropdown-menu.arrow-dropdown-menu {
	padding:none;
	margin-top:none;
	background:none;
	box-shadow:none;
	border:none;
}

.dropdown-menu.arrow-dropdown-menu > .arrow-dropdown-menu-item {
	background:#ddd;
	border:none;
}
.dropdown-menu.arrow-dropdown-menu > .arrow-dropdown-menu-item>a{
	color: #555;
	outline: none;
}

.arrow-dropdown-menu > .arrow-dropdown-menu-item:last-child {
	box-shadow: 0 10px 6px -6px rgba(0,0,0,0.2) !important;
	border-radius:0 0 3px 3px;
}

